<h1>Tasks Manager</h1>

<ul>
<%@tasks.each do |task|%>
  <li><%="#{task.id}. #{task.title}: #{task.details}"%>
  <%= link_to "Show", task_path(id: task.id)%>
  <%= link_to "Edit", edit_task_path(id: task.id)%>
  <%= link_to "Delete", task_path(id: task.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
<%end%>
</ul>

<h2>Actions</h2>
<ul>
  <li><a href="tasks/new">Add a task</a></li>
</ul>
